In [1]:
# In this code, we explore unemployment data from that past 20 years
# Source: https://fred.stlouisfed.org/series/UNRATE

In [23]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [24]:
unrate = pd.read_csv("unrate.csv", index_col = "DATE")

In [25]:
unrate.head()

            UNRATE
DATE
2000-01-01     4.0
2000-02-01     4.1
2000-03-01     4.0
2000-04-01     3.8
2000-05-01     4.0

In [26]:
# Checking the types of our columns

unrate_type_series = unrate.dtypes
print("Data types of each column")
print(unrate_type_series)

Data types of each column
UNRATE    float64
dtype: object

In [27]:
# Saving cleaned version of data

unrate.to_csv(r"/Users/kylegedenk/Desktop/Coding Practice/CLEAN_UNRATE.csv")